.container {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100vw;
    height: 100vh;
    flex-wrap: wrap;
}

.outerSpace {
    display: grid;
    grid-gap: 1px;
}

.outerSpace .cell {
    width: 10px;
    height: 10px;
    background-color: antiquewhite;
    will-change: background-color;
}
.outerSpace .cell.snake {
    background-color: chocolate;
}
.outerSpace .cell.snake.tail {
    background-color: #dba890;
}
.outerSpace .cell.snake.head {
    background-color: #7e3500;
}
.outerSpace .cell.food {
    background-color: blue;
}
h2 {
    text-align: center;
    position: absolute;
    padding-bottom: 64px;
}
h3 {
    width: 100%;
    text-align: center;
}