.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.outerSpace {
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(20, 1fr);
    grid-gap: 1px;
}

.outerSpace .cell{
    width: 10px;
    height: 10px;
    background-color: antiquewhite;
}

.cell.snake {
    background-color: chocolate;
}